

.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
}

.sphere-animation {
  /*z-index: -1; */
  position: absolute;
  /*top: 50%;*/
  /*left: 25%;*/
  right: 42.5%;
  top: 10%;
/*  width: 580px;
  height: 580px;*/

  width: 250px;
  height: 250px;
  /*margin: -290px 0 0 -290px;*/
}

.sphere path {
  /*fill: url(#sphereGradient);*/
  /*stroke-width: 1px;*/
  /*stroke: rgba(80,80,80,.35);*/
  /*backface-visibility: hidden;*/
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
}
